@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente global */
body {
  background-color: #f5f7fa; /* blanco azulado suave que combina con la imagen */
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}