@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente global */
body {
  background-color: #fff6fb; /* pastel cream */
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}