.fade-in {
  animation: fadeIn 1.4s ease forwards;
  opacity: 0;
}

.fade-up {
  animation: fadeUp 1.4s ease forwards;
  opacity: 0;
}

.fade-left {
  animation: fadeLeft 1.4s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
